<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, User-scalable=no, maximum-scale=1.0">
    <title>Stardew</title>
    <link rel="stylesheet" href="/static/src/css/style.css">
    <script src="/static/src/js/index.js" defer></script>
</head>
<body>
    <div class="parallax-container top-container">
        <img class="parallax" id="parallax2" src="/static/src/img/parallax2.png" alt="">
        <img class="parallax" id="parallax3b" src="/static/src/img/parallax3b.png" alt="">
        <img class="parallax" id="parallax3a" src="/static/src/img/parallax3a.png" alt="">
    </div>
    <header>
        <div class="title-cont">
            <img id="logo" src="/static/src/img/logo1.png" alt="">
            <h1 id="title">Stardew</h1>
        </div>
        <nav>
            <div class="nav-item" id="menu">
                <span>Меню ∨</span>
                <div id="menu-list" class="hidden">
                    <a href="#registr"><span>Регистрация</span></a>
                </div>
            </div>
            <a href="/login" target="_blank" class="nav-item">
                <span>Войти</span>
            </a>
            <a href="/signup" target="_blank" class="nav-item">
                <span>Зарегистрироваться</span>
            </a>
        </nav>
    </header>
    <section class="container">
        <article id="registr">
            <h3>Вы успешно зарегистрированы</h3>
            <span>Ваш логин: {{ .Login }}</span>
            <span>Ваш пароль: {{ .Password }}</span>
        </article>
    </section>
    <footer>
        <img class="footer-bg" src="/static/src/img/parallax4.png" alt="">
        <span>(c) Альберт Греф</span>
    </footer>

    
</body>
</html>